{% extends 'index.html' %}

{% block content %}
    <h2>Standings</h2>
    <hr>
        <table>
            <caption><h3>Driver's Championship</h3></caption>
            <thead>
                <tr>
                    <th>Positon</th>
                    <th>Driver</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for driver in drivers %}
                <tr>
                    <td>{{ drivers.index(driver)+1 }}</td>    
                    <td><b>{{ driver.name }}</b></td>
                    <td>{{ driver.points }}</td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table> 
{% endblock content %}