{% extends 'index.html' %}

{% block content %}
    <h2>Drivers</h2>
    <hr>
    <ul class="drivers-list">
        {% for driver in drivers %}
            <li>
                <div>
                    <h3>
                        <a href="/drivers/{{driver.id}}">{{ driver.name }}</a><b> - {{ driver.constructor }}</b>
                    </h3>
                    <h4>{{ driver.points }}pts</h4>
                    <p>{{ driver.wins }} wins</p>
                    <p>{{ driver.podiums }} podiums</p>
                </div>
                <img src="static/images/drivers/{{driver.name}}.png" alt="Image of {{driver.name}}" class="driver-img">
                
            </li>
        {% endfor %}
    </ul>
{% endblock content %}