{% extends 'base.html' %}

{% block content %}
<div class="show-driver-header">
    <h2>{{ driver.name }} - {{ driver.constructor }}</h2>
</div>
<hr>
<div class="show-driver">
    <div class="driver-profile">
    <h3>Profile</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias velit provident sint asperiores sequi eos id incidunt impedit eum? Autem sed, minima molestiae facilis quisquam inventore sit optio. Quas, ex.</p>
    
    </div>
    <img src="../../static/images/drivers/{{driver.name}}.png" alt="Image of {{driver.name}}" class="driver-img">
</div>
<h3>Race Results</h3>
<div class="driver-results">
    <table>
        <tr>
            <th>Race</th>
            <th>Position</th>
        </tr>
        {% for result in results %}
        <tr>
            <td>{{ result.race.location }}</td>
            <td>{{ result.score.position }}</td>
        </tr>
        {% endfor %}
    </table> 
    <ul class="show-driver-stats">
        <h4><li>Total Wins: {{driver.wins}}</li></h4>    
        <h4><li>Total Podiums: {{driver.podiums}}</li></h4> 
    </ul>   
</div>


  
<br>
{% endblock content %}