{% extends 'base.html' %}

{% block content %}
<h2>{{ driver.name }} - {{ driver.constructor }}</h2>
<hr>

<h3>Stats</h3>  
<ul>
    <li>Points: {{ driver.points }}</li>
    <li>  Wins: {{ driver.wins }} </li>
    <li>  Podiums: {{ driver.podiums }}</li>
</ul> 
<hr>
<h3>Results</h3>
<table>
<tr>
    <th>Race</th>
    <th>Position</th>
</tr>
{% for result in results %}
<tr>
    <td>{{ result.race.location }}</td>
    <td>{{ result.score.position }}</td>
</tr>
{% endfor %}
</table>    
<br>
<form action="/drivers/{{driver.id}}/edit">
    <button type="submit">Edit</button>
</form>
<br>
<form action="/drivers/{{driver.id}}/delete" method="post">
    <button type="submit">Delete</button>
</form>


<br>
{% endblock content %}