{% extends 'index.html' %}

{% block content %}
    <h2>News</h2>
    <hr>
    <ul class="news-list">
        <li>
            <ul class="news-item">
                <h3>BREAKING: Nick Cage Rumoured To Replace Ricciardo</h3>
                <li>
                    <img src="https://www.placecage.com/g/200/200" alt="news-img">
                    <div>
                        <p>Will Lando Norris have a new team-mate after the summer break? </p>
                        <p>Nick Cage becomes the latest in a long list of drivers rumoured to be replacing Ricciardo after a dreadful run of form since the beginning of the year.</p>
                        <p>Mclaren boss Zac Brown wouldn't confirm the rumour but did reiterate they were commited to finding the points needed to catch the top three teams.</p>
                    </div>
                </li>
                
            </ul>
        </li>
    </ul>
{% endblock content %}