{% extends 'index.html' %}

{% block content %}
    <div class="races-list-header">
        <h2>Races</h2>
        <a href="/races/new">Add New Race</a>
    </div>
    <hr>
    <ul class="races-list">
        {% for race in races %}
        <li>
            <div>
                <h3>{{ race.location }}</a></h3>
                <h3>{{ race.circuit }}</h3>
                {% if results %}
                <ul class="top-three">
                    <li>
                        <h4>1st -  
                            {% for result in results %}
                                {% if result.race.id == race.id and result.score.position == 1 %}
                                    {{ result.driver.name }}
                                {% endif %}
                            {% endfor %}
                        </h4>
                    </li>
                    <li>
                        <h5>2nd - 
                            {% for result in results %}
                                {% if result.race.id == race.id and result.score.position == 2 %}
                                    {{ result.driver.name }}
                                {% endif %}
                            {% endfor %}
                        </h5>
                    </li>
                    <li>
                        <h5>3rd - 
                            {% for result in results %}
                                {% if result.race.id == race.id and result.score.position == 3 %}
                                    {{ result.driver.name }}
                                {% endif %}
                            {% endfor %}
                        </h5>
                    </li>
                <b><a href="/races/{{race.id}}">see full results</a></b>
                {% endif %}
                
            </div>
            <img src="static/images/circuits/{{race.location}}.png" alt="Image of {{race.circuit}}" class="race-img">
        </li>
        {% endfor %}
    </ul>
    
    
    
    
{% endblock content %}