{% extends 'base.html' %}

{% block content %}
    <h2>Races</h2>
    <hr>
    <ul>
        {% for race in races %}
            <li>
                <img src="static/images/circuits/{{race.location}}.png" alt="hasn't worked" class="race-img">
                <a href="/races/{{race.id}}">{{ race.location }}</a>: {{race.circuit}}
                <form action="/races/{{race.id}}/delete" method="post">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <form action="/races/new">
        <button type="submit">New Race</button>
    </form>
    
    
{% endblock content %}