{% extends 'base.html' %}

{% block content %}
    <h2>Races</h2>
    <hr>
    <div class="races-list">
        <ul>
            {% for race in races %}
            <li>
                <div>
                    <h3><a href="/races/{{race.id}}">{{ race.location }}</a></h3>
                    <h4>{{ race.circuit }}</h4>
                </div>
                <img src="static/images/circuits/{{race.location}}.png" alt="Image of {{race.circuit}}" class="race-img">
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <form action="/races/new">
        <button type="submit">New Race</button>
    </form>
    
    
{% endblock content %}