{% extends 'base.html' %}

{% block content %}

<h2>Add Race</h2>
<hr>
    <form action="/races/new" method="post" class="new-race-form">
        <h3>Race</h3>
        
        <label for="location">Location:</label>
        <input type="text" name="location" id="location">

        <label for="circuit">Circuit:</label>
        <input type="text" name="circuit" id="circuit">

        <h3>Results</h3>
        
        {% for score in scores %}
            <label for="p{{ scores.index(score)+1 }}">P{{ scores.index(score)+1 }}:</label>
            <select name="p{{ scores.index(score)+1 }}" id="p{{ scores.index(score)+1 }}">
                <option value="choose" disabled selected>-select a driver-</option>
                {% for driver in drivers %}
                    <option value="{{driver.id}}">{{driver.name}}</option>
                {% endfor %}
            </select>
        {% endfor %}
        
        
        <button type="submit">Add Race</button>
    </form>
<br>

{% endblock content %}