{% extends 'index.html' %}

{% block content %}
<h2>{{ race.location }} - {{ race.circuit }}</h2>
<hr>
    <table>
        <thead>
            <tr>
                <th>Positon</th>
                <th>Driver</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.score.position }}</td>
                <td><b>{{ result.driver.name }}</b></td>
                <td>{{ result.score.points }}</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>  
{% endblock content %}