{% extends 'index.html' %}

{% block content %}
<h2>{{ race.location }} - {{ race.circuit }}</h2>
<hr>
    <table>
        <thead>
            <tr>
                <th>Positon</th>
                <th>Driver</th>
                <th></th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.score.position }}</td>
                <td><b>{{ result.driver.name }}</b></td>
                <td><a href="/constructors/{{result.constructor.id}}"><img src="../../static/images/constructors/{{result.constructor.name}}.png" alt="Image of {{result.constructor.name}} logo" class="constructor-img"></a></td>
                <td><b>{{ result.score.points }}</b></td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>  
{% endblock content %}