body {
    font-family: 'Jost', sans-serif;
    margin: 0;
}

button {
    font-family: 'Jost', sans-serif;
    color: #2D2D2A;
}

select {
    font-family: 'Jost', sans-serif;
    color: #2D2D2A;
}

option {
    font-family: 'Jost', sans-serif;
    color: #2D2D2A;
}

header {
    background-color: #FB3640;
    color: #FFF;
    display: flex;
    padding: 0.5rem 1rem;
}

main {
    display: flex;
}

nav {
    background-color: #2D2D2A;
    width: 25%
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

article {
    color: #2D2D2A;
    background-color: #fff;
    padding: 1rem;
}

article h2 {
    margin-top: 0;
}

.drivers-list ul {
    display: flex;
    flex-direction: column;
    color: #fff
}

.drivers-list li {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    background-color: #7C809B;
    color: #fff;
    border: 1px solid #FB3640;
    border-radius: 5px;
    padding: 0px 16px;
}

article a {
    text-decoration: none;
    color: #2D2D2A;
}

article a:hover {
    text-decoration: underline;
}

.driver-img {
    height: 192px;
    width: 192px;
}

.race-img {
    height: 150px;
    width: 225px;
    border-radius: 5px 10px;
}


footer {
    background-color: #FB3640;
}

.new-race-form {
    display: flex;
    flex-direction: column;
}