body {
    font-family: 'Jost', sans-serif;
    margin: 0;
}

hr {
    color: #042c49;
}

button {
    font-family: 'Jost', sans-serif;
    color: #2D2D2A;
}

select {
    font-family: 'Jost', sans-serif;
    color: #2D2D2A;
}

option {
    font-family: 'Jost', sans-serif;
    color: #2D2D2A;
}

input {
    font-family: 'Jost', sans-serif;
    color: #2D2D2A;

}

header {
    background-color: #ad0624;
    color: #FFF;
    display: flex;
    padding: 0.5rem 1rem;
}

.icon {
    border-radius: 50%;
    margin-right: 1rem;
}

main {
    display: flex;
}

nav {
    background-color: #042c49;
    width: 20%;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

article {
    color: #2D2D2A;
    background-color: #fff;
    padding: 1rem;
    width: 70%;
}

article h2 {
    margin-top: 0;
    color:#ad0624
}

.drivers-list ul {
    display: flex;
    flex-direction: column;
    color: #fff
}

.drivers-list li {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    background-color: #042c49;
    color: #fff;
    border: 1px solid #ad0624;
    border-radius: 5px;
    padding: 0px 16px;
}

.races-list ul{
    display: flex;
    flex-direction: column;
    color: #fff;
    list-style: none;
    padding: 0px;
}

.races-list > li {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    background-color: #042c49;
    color: #fff;
    border: 1px solid #ad0624;
    border-radius: 5px;
    padding: 0px 16px;
}

.top-three h4{
    margin-top: 0px;
}

.top-three h5{
    margin-top: 0px;
}

article a {
    text-decoration: none;
    color: #fff;
}

article a:hover {
    text-decoration: underline;
    color: #ad0624;
}

.driver-img {
    height: 192px;
    width: 192px;
}

.race-img {
    height: 300px;
    width: 450px;
    padding: 1rem 0rem;
}


footer {
    background-color: #ad0624;
}

.new-race-form {
    display: flex;
    flex-direction: column;
}

table {
    table-layout: fixed;
    width: auto 100%;
    color: #2D2D2A;
    border-collapse: collapse;
    border: 3px solid #ad0624;
}

thead th:nth-child(1) {
    width: 15%;
}
  
thead th:nth-child(2) {
    width: 50%;
}
  
thead th:nth-child(3) {
    width: 15%;
}

th, td {
    padding: 16px;
}

caption {
    text-align: left;
}

tbody td {
    text-align: center;
}

thead {
    background-color: #ad0624;
    color: #fff;
}

tbody tr:nth-child(odd) {
    background-color: whitesmoke;
}

tbody tr:nth-child(even) {
    background-color: #fff;
}