/* General CSS */

body {
    font-family: 'Jost', sans-serif;
    margin: 0;
}

hr {
    color: #042c49;
}

button {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: 'Jost', sans-serif;
    color: #ad0624;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

select {
    font-family: 'Jost', sans-serif;
    color: #2D2D2A;
}

option {
    font-family: 'Jost', sans-serif;
    color: #2D2D2A;
}

input {
    font-family: 'Jost', sans-serif;
    color: #2D2D2A;
}

/* Welcome page CSS */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    font-size: xx-large;
    color: #fff;
}

.welcome a {
    color: #fff;
    text-decoration: none;
}

.welcome a:hover {
    text-decoration: underline;
}

/* main index CSS */

header {
    background-color: #ad0624;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: xx-large;
    padding: 0.5rem 1rem;
    border-bottom: 3px solid #ad0624;
}

header h1 {
    margin: 0px
}

.icon {
    border-radius: 50%;
    margin-right: 3rem;
    width: 10%;
 
}

main {
    display: flex;
}

nav {
    background-color: #042c49;
    border-right: 3px solid #ad0624;
    width: 20%;
    box-shadow: 0 0 16px #042c499a;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

article {
    color: #2D2D2A;
    background-color: #fff;
    padding: 2rem;
    width: 75%;
}

article h2 {
    margin: 0.5rem 0rem;
    color:#ad0624
}

article a {
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    color: #fff;
}

article a:hover {
    text-decoration: underline;
    color: #ad0624;
}

/* Home CSS */

.news-list ul {
    color: #fff
}

.news-list li {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    color: #2D2D2A;
    border: 1px solid #ad0624;
    border-radius: 5px;
    padding: 0px 16px;
    box-shadow: 0 0 16px #042c499a;
}

.news-item {
    padding: 1rem;
}

.news-item h3 {
    color: #ad0624;
}

.news-item img {
    padding: 1rem;
}

.news-item li {
    border: none;
    box-shadow: none;
}



/* drivers CSS */

.drivers-list ul {
    display: flex;
    flex-direction: column;
    color: #fff
}

.drivers-list li {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    background-color: whitesmoke;
    color: #2D2D2A;
    border: 1px solid #ad0624;
    border-radius: 5px;
    padding: 0px 16px;
    box-shadow: 0 0 16px #042c499a;
}

.drivers-list a {
    color: #2D2D2A;
}

.show-driver-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-driver-header a {
    color: #ad0624;
}

.show-driver {
    display: flex;
}

.show-driver-stats {
    list-style: none;
}

.driver-profile {
    display: inline-block
}

.driver-results {
    display: flex;
    justify-content: space-evenly;
}

.driver-img {
    height: 192px;
    width: 192px;
}

/* constrcutors css */

.constructors-list ul {
    color: #fff
}

.constructors-list li {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    color: #2D2D2A;
    border: 1px solid #ad0624;
    border-radius: 5px;
    padding: 0px 16px;
    box-shadow: 0 0 16px #042c499a;
}

.constructor-info {
    display: flex;
    flex-direction: column;
}

.constructors-list a {
    color: #2D2D2A;
}

.constructor-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.constructor-drivers-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: none;
}

#constructor-driver {
    display: flex;
    border: none;
    box-shadow: none;
    margin-bottom: 0px;
}

.constructor-img {
    height: 50px;
    width: 50px;
}

/* races CSS */

.races-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.races-list-header a {
    color: #ad0624;
}

.races-list ul {
    display: flex;
    flex-direction: column;
    color: #2D2D2A;
    list-style: none;
    padding: 0px;
}

.races-list > li {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    background-color: whitesmoke;
    color: #2D2D2A;
    border: 1px solid #ad0624;
    border-radius: 5px;
    padding: 0px 16px;
    box-shadow: 0 0 16px #042c499a;
}

.top-three a {
    color: #2D2D2A;
}

.new-race-form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.driver-select {
    display: flex;
    justify-content: space-evenly;
}

.driver-select label {
    text-align: left;
}

.races-list h3 {
    color: #ad0624;
}

.top-three p {
    margin-top: 0px;
}

.race-img {
    height: 300px;
    width: 450px;
    padding: 1rem 0rem;
}

/* footer css */

footer {
    background-color: #ad0624;
}

/* all tables CSS */

table {
    table-layout: fixed;
    width: auto 100%;
    color: #2D2D2A;
    border-collapse: collapse;
    border: 3px solid #ad0624;
    box-shadow: 0 0 16px #042c499a;
}

thead th:nth-child(1) {
    width: 15%;
}
  
thead th:nth-child(2) {
    width: 50%;
}
  
thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 15%;
}

thead th:nth-child(5) {
    width: 15%;
}

thead th:nth-child(6) {
    width: 15%;
}

th, td {
    padding: 16px;
}

caption {
    text-align: left;
}

tbody td {
    text-align: center;
}

thead {
    background-color: #ad0624;
    color: #fff;
}

tbody tr:hover {
    background-color: whitesmoke;
}

table select {
    width: 127px;
}

table a {
    color: #2D2D2A;
}