<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/icon/icon.png">
    <title>F1 App</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/icon/icon.png') }}" height="100px" width="100px" alt="icon" class="icon">
        <h1>Podium</h1>
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/drivers">Drivers</a></li>
                <li><a href="/races">Races</a></li>
                <li><a href="/standings">Standings</a></li>
            </ul>
        </nav>
        <article>
            {% block content %}
            
            {% endblock content %}   
        </article>
    </main>
    <footer>
        A footer of sorts will go here
    </footer>
    
    
</body>
</html>