{% extends 'index.html' %}

{% block content %}
    <h2>Welcome to Trackside</h2>
    <hr>
    <h4>tagline</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, officia ab voluptatibus aliquam laboriosam aspernatur porro eligendi necessitatibus sapiente cum ut asperiores esse earum vel quis. Maiores reiciendis mollitia nihil.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, officia ab voluptatibus aliquam laboriosam aspernatur porro eligendi necessitatibus sapiente cum ut asperiores esse earum vel quis. Maiores reiciendis mollitia nihil.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, officia ab voluptatibus aliquam laboriosam aspernatur porro eligendi necessitatibus sapiente cum ut asperiores esse earum vel quis. Maiores reiciendis mollitia nihil.</p>

{% endblock content %}