{% extends 'base.html' %}

{% block base %}
<body>
    <header>
        <img src="{{ url_for('static', filename='images/icon/small_icon.png') }}" alt="icon" class="icon">
        <h1>Trackside</h1>
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/drivers">Drivers</a></li>
                <li><a href="/constructors">Constructors</a></li>
                <li><a href="/races">Races</a></li>
                <li><a href="/standings">Standings</a></li>
            </ul>
        </nav>
        <article>
            {% block content %}
            
            {% endblock content %}   
        </article>
    </main>
    <footer>
       <br>
    </footer>
{% endblock base %}